@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="width: 1000px; height: 430px; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active mt-3">
                <img class="" style="width:1000px; height:400px;" src="https://s1.1zoom.me/big0/415/Fish_Food_Lemons_498561.jpg" alt="First slide">
            </div>
            <div class="carousel-item mt-3">
                <img class="" style="width:1000px; height:400px;" src="https://c.dns-shop.ru/thumb/st4/fit/760/600/ff2bd4dcd46fa10378e67cfe0f68e3f8/q93_a9226b29c1cedda2abb43038f5b73bb9fa6afb0cb46ab9e482223bd27ffd812d.jpg.webp" alt="Second slide">
            </div>
            <div class="carousel-item mt-3">
                <img class="" style="width:1000px; height:400px;" src="https://storge.pic2.me/c/1360x800/565/5f3d1f13dbb311.14701374.jpg" alt="Third slide">
            </div>
            <div class="carousel-item mt-3">
                <img class="" style="width:1000px; height:400px;" src="https://roll-club.kh.ua/wp-content/uploads/2019/09/smajl-1-1.jpg.webp" alt="Third slide">
            </div>
            <div class="carousel-item mt-3">
                <img class="" style="width:1000px; height:400px;" src="https://cdn-b.william-reed.com/var/wrbm_gb_hospitality/storage/images/publications/hospitality/bighospitality.co.uk/article/2020/04/15/kfc-reopens-11-restaurants-for-delivery-only/3331532-1-eng-GB/KFC-reopens-11-restaurants-for-delivery-only_wrbm_large.png" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<br />
<br />

<div class="container ml-3" id="cards">
    <div id="homeCard" class="card" >
        <img src="https://i.pinimg.com/564x/e7/74/81/e774814378640df5e2492ebd0ad76db4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Italian Foods</h5>
            <p class="card-text">Italian cuisine is generally characterized by its simplicity, with many dishes having only two to four main ingredients. Italian cooks rely chiefly on the quality of the ingredients rather than on elaborate preparation. Ingredients and dishes vary by region.</p>

        </div>
    </div>
    <div id="homeCard" class="card" >
        <img src="https://i.pinimg.com/564x/cd/30/8f/cd308f92c762b9211517f0878d07eaed.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Japanese Foods</h5>
            <p class="card-text">The traditional cuisine of Japan is based on rice with miso soup and other dishes; there is an emphasis on seasonal ingredients. Side dishes often consist of fish, pickled vegetables, and vegetables cooked in broth.Seafood and vegetables are also deep-fried in a light batter, as tempura.</p>

        </div>
    </div>
    <div id="homeCard" class="card">
        <img src="https://i.pinimg.com/564x/c5/1e/e8/c51ee891ab47ce0f2feacc6480cc3835.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Uzbek Foods</h5>
            <p class="card-text">
                It is an impossible task for a tourist to fully enjoy the Uzbek feast. The rich list of Uzbek dishes is amazing the untrained imagination of the traveler. Several nourishing Uzbek national dishes for a meal is the common hospitality for the Uzbek man.
            </p>

        </div>
    </div>
    <div id="homeCard" class="card">
        <img src="https://i.pinimg.com/564x/47/42/64/474264364fe3cbda5383cc8e80697649.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Turkish Foods</h5>
            <p class="card-text">
                Turkish cuisine (Turkish: Türk mutfağı) is largely the heritage of Ottoman cuisine, which can be described as a fusion and refinement of Mediterranean, Balkan, Middle Eastern, Central Asian, Eastern European, Armenian, and Georgian cuisines.
            </p>

        </div>
    </div>
</div>


<div class="container ml-3 mt-3" id="cards">
    <div id="homeCard" class="card">
        <img src="https://i.pinimg.com/564x/d3/c4/85/d3c485679347ed78fdd85e6b66e82321.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">American Foods</h5>
            <p class="card-text">American cuisine is primarily Western in origin, but has been significantly influenced by indigenous American Indians, African Americans, Asians, Pacific Islanders, and many other cultures and ethnicities, reflecting the diverse history of the United States.</p>

        </div>
    </div>
    <div id="homeCard" class="card">
        <img src="https://i.pinimg.com/564x/7e/89/3f/7e893fafa8a0157dae62ae0c8bc395f4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sea Foods</h5>
            <p class="card-text">Seafood is any form of sea life regarded as food by humans, prominently including fish and shellfish. ... Most of the seafood harvest is consumed by humans, but a significant proportion is used as fish food to farm other fish or rear farm animals. Some seafoods (i.e. kelp) are used as food for other plants.</p>

        </div>
    </div>
    <div id="homeCard" class="card">
        <img src="https://i.pinimg.com/564x/91/7d/e5/917de5d2a8baef180fbf0a7372678082.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Chinese Foods</h5>
            <p class="card-text">
                Chinese cuisine is an important part of Chinese culture and includes cuisines originating from the diverse regions of China as well as from Overseas Chinese who have settled in other parts of the world. Because of the Chinese diaspora and historical power of the country, Chinese cuisine.
            </p>
        </div>
    </div>
    <div id="homeCard" class="card">
        <img src="https://www.foodtempel.com/wp-content/uploads/2021/02/Asian-lagman-with-spaghetti-beef-and-vegetables.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Uygur Foods</h5>
            <p class="card-text">
                Uyghur food is characterized by mutton, beef, camel (solely bactrian), chicken, goose, carrots, tomatoes, onions, peppers, eggplant, celery, various dairy foods and fruits. ... Most Uyghur foods are eaten with chopsticks, a custom that was adopted from Han Chinese culture in the 19th century.
            </p>
        </div>
    </div>
</div>


<link href="~/css/home.css" rel="stylesheet" />