@{
    ViewData["Title"] = "Home Page";
}

<div class="container ml-3" id="cards">
    <div id="homeCard" class="card" style="width: 18rem; height: 44rem;">
        <img src="https://i.pinimg.com/564x/e7/74/81/e774814378640df5e2492ebd0ad76db4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Italian Foods</h5>
            <p class="card-text">Italian cuisine is generally characterized by its simplicity, with many dishes having only two to four main ingredients. Italian cooks rely chiefly on the quality of the ingredients rather than on elaborate preparation. Ingredients and dishes vary by region.</p>
            <a asp-controller="" asp-action="" class="btn btn-primary" id="moreBtn">More..</a>
        </div>
    </div>
    <div id="homeCard" class="card" style="width: 18rem; height: 44rem;">
        <img src="https://i.pinimg.com/564x/cd/30/8f/cd308f92c762b9211517f0878d07eaed.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Japanese Foods</h5>
            <p class="card-text">The traditional cuisine of Japan is based on rice with miso soup and other dishes; there is an emphasis on seasonal ingredients. Side dishes often consist of fish, pickled vegetables, and vegetables cooked in broth.Seafood and vegetables are also deep-fried in a light batter, as tempura.</p>
            <a asp-controller="" asp-action="" class="btn btn-primary" id="moreBtn">More..</a>
        </div>
    </div>
    <div id="homeCard" class="card" style="width: 18rem; height: 44rem;">
        <img src="https://i.pinimg.com/564x/c5/1e/e8/c51ee891ab47ce0f2feacc6480cc3835.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Uzbek Foods</h5>
            <p class="card-text">
                It is an impossible task for a tourist to fully enjoy the Uzbek feast. The rich list of Uzbek dishes is amazing the untrained imagination of the traveler. Several nourishing Uzbek national dishes for a meal is the common hospitality for the Uzbek man.
            </p>
            <a asp-controller="" asp-action="" class="btn btn-primary" id="moreBtn">More..</a>
        </div>
    </div>
    <div id="homeCard" class="card" style="width: 18rem; height: 44rem;">
        <img src="https://i.pinimg.com/564x/47/42/64/474264364fe3cbda5383cc8e80697649.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Turkish Foods</h5>
            <p class="card-text">
                Turkish cuisine (Turkish: Türk mutfağı) is largely the heritage of Ottoman cuisine, which can be described as a fusion and refinement of Mediterranean, Balkan, Middle Eastern, Central Asian, Eastern European, Armenian, and Georgian cuisines.
            </p>
            <a asp-controller="" asp-action="" class="btn btn-primary" id="moreBtn">More..</a>
        </div>
    </div>
</div>


<div class="container ml-3 mt-3" id="cards">
    <div id="homeCard" class="card" style="width: 18rem; height: 44rem;">
        <img src="https://i.pinimg.com/564x/d3/c4/85/d3c485679347ed78fdd85e6b66e82321.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">American Foods</h5>
            <p class="card-text">American cuisine is primarily Western in origin, but has been significantly influenced by indigenous American Indians, African Americans, Asians, Pacific Islanders, and many other cultures and ethnicities, reflecting the diverse history of the United States.</p>
            <a asp-controller="" asp-action="" class="btn btn-primary" id="moreBtn">More..</a>
        </div>
    </div>
    <div id="homeCard" class="card" style="width: 18rem; height: 44rem;">
        <img src="https://i.pinimg.com/564x/7e/89/3f/7e893fafa8a0157dae62ae0c8bc395f4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Sea Foods</h5>
            <p class="card-text">Seafood is any form of sea life regarded as food by humans, prominently including fish and shellfish. ... Most of the seafood harvest is consumed by humans, but a significant proportion is used as fish food to farm other fish or rear farm animals. Some seafoods (i.e. kelp) are used as food for other plants.</p>
            <a asp-controller="" asp-action="" class="btn btn-primary" id="moreBtn">More..</a>
        </div>
    </div>
    <div id="homeCard" class="card" style="width: 18rem; height: 44rem;">
        <img src="https://i.pinimg.com/564x/91/7d/e5/917de5d2a8baef180fbf0a7372678082.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Chinese Foods</h5>
            <p class="card-text">
                Chinese cuisine is an important part of Chinese culture and includes cuisines originating from the diverse regions of China as well as from Overseas Chinese who have settled in other parts of the world. Because of the Chinese diaspora and historical power of the country, Chinese cuisine has influenced many other cuisines in Asia, with modifications made to cater to local palates.
            </p>
            <a asp-controller="" asp-action="" class="btn btn-primary" id="moreBtn">More..</a>
        </div>
    </div>
</div>


<link href="~/css/home.css" rel="stylesheet" />