.card-body {
    display: inline-flex;
    justify-content: space-around;
}

#imageFast {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    display: block;
    transform: translateY(-65%);
    margin-left: 140px;
}
.card {
    box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);   
    border-radius: 10px;
}

@media (min-width: 768px) {
    #container {
        max-width: 500rem;
    }
}

#container {  
   
    display: inline-flex;    
    margin-left:-45px;
    width:111%;
}
#text {
    font-family:'Arial Rounded MT';
    position: absolute;
    left: 0px;
    color: black;
    font: bold;
    font-size: 30px;
}
#small {
    transform: translateY(-100%);
    font-family: 'Arial Rounded MT';
}
.card-img-top {
    width: 267px;
    height: 286px;
}
