@model IEnumerable<Entities.Models.Entities.FoodPlace>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="home-section">

    <select style="margin-top:100px; margin-left:12.5%; border:solid; border-radius:16px;" class="form-select form-select-lg mb-3 w-75 text-center bg-info text-white" id="sltPlace" onclick="getOption()">
        <option selected>Select Food Place</option>       
        @foreach (var item in Model)
        {
            if (item.Name.Any(x => char.IsWhiteSpace(x)))
            {
                var str = item.Name.Substring(0, item.Name.IndexOf(' '));

                <option value="@str">@item.Name</option>
            }
            else
            {
                <option value="@item.Name">@item.Name</option>
            }
            

        }

    </select>   

    <div class="container" id="ProductList"></div>

</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>


<script>
    function getOption() {

        var selected = document.getElementById('sltPlace').value;
        $("#ProductList").load(`/Admin/ProductList?name=${selected}`);

    }
</script>

